@{
  Layout = "_Layout";
}

<h1>Your Tamagotchi</h1>

@if (Model != null)
{
  <dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Energy</dt>
    <dd>@Model.Energy</dd>

    <dt>Content</dt>
    <dd>@Model.Content</dd>

    <dt>Sustenance</dt>
    <dd>@Model.Sustenance</dd>

    <dt>Quenched</dt>
    <dd>@Model.Quenched</dd>

    <dt></dt>
    <dd>@Model.Message</dd>
  </dl>

  <a href="/pets/stats/Energy">NAP</a>
  <a href="/pets/stats/Content">GIVE ATTENTION</a>
  <a href="/pets/stats/Quenched">WATER</a>
  <a href="/pets/stats/Sustenance">FEED</a>
}
else
{
  <p>No tamagotchi yet :/</p>
}

<a href="/pets/new">Create a new Tamagotchi!</a>